<div class="categories">
    <ul>
        {% for category in categories %}
            <li>
                <a class="category" href="/?category={{ loop.index }}">{{ category }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
<style>
    .categories {
        border-radius: 20px;
        font-size: 14px;
        text-align: center;
        border: 1px solid rgba(187, 187, 187, 1);
        width: 109px;
        height: 100%;

        ul > li {
            padding: 10px 0;
            color: #6E6E6E;

            .active {
                color: #101010;
                font-weight: 700;
            }
        }
    }
</style>
