{% extends 'layout.twig' %}

{% block body %}
    <div class="banner">
        <img src="/img/banner.png" alt="">
    </div>
    <main class="container">
        {% include 'categories.twig' with {categories} %}
        {% include 'homeList.twig' with {homeList} %}
        <aside class="aside">
            {% include 'rank.twig' with {rankList} %}
            {% include 'chat.twig' with {chatList} %}
            {% include 'blog.twig' with {blog} %}
        </aside>
    </main>
    <style>
        .banner {
            img {
                width: 100%;
                margin-top: -75px;
            }
        }

        .container {
            margin: 18px 14px;
            display: flex;
            justify-content: space-between;

            .aside {
                width: 360px;

            }
        }
    </style>
    <script type="module">
        document.addEventListener('DOMContentLoaded', function () {
            const currentUrl = new URL(window.location.href);
            const currentCategory = currentUrl.searchParams.get('category');
            const links = document.querySelectorAll('.category');
            if (currentCategory === null) links[0].classList.add('active');
            links.forEach(link => {
                const linkUrl = new URL(link.href);
                const linkCategory = linkUrl.searchParams.get('category');

                if (linkCategory === currentCategory) {
                    link.classList.add('active');
                }
            });
        });
    </script>
{% endblock %}
