<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
{% include './header.twig' %}
<main style="flex: 1">
    {% block body %}{% endblock %}
</main>
{% include './footer.twig' %}
</body>
</html>
