{% extends "./loginLayout.twig" %}

{% block title %}修改密码{% endblock %}

{% block body %}
    <div class="login-box">
        <h1>修改密码</h1>
        <form id="loginForm">
            <div class="l-input-box">
                <img src="/icons/login/password.svg" alt="" class="l-icon"/>
                <input type="password" id="password" name="password" required class="l-input" placeholder="请输入新密码"
                       autofocus>
            </div>
            <div class="l-input-box">
                <img src="/icons/login/password.svg" alt="" class="l-icon"/>
                <input type="password" id="confirmPassword" name="confirmPassword" required class="l-input"
                       placeholder="再次输入密码">
            </div>
            <div class="l-input-box">
                <button type="submit" class="l-button">登 录</button>
            </div>
        </form>
    </div>
    <script type="module">
        import {changePassword} from "/javascripts/apis/login.js";
        import toast from "/javascripts/utils/toast.js";

        document.getElementById('loginForm').addEventListener('submit', function (event) {
            event.preventDefault(); // 阻止表单默认提交行为
            // 获取数据
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;
            if (password !== confirmPassword) {
                toast('两次输入的密码不相同，请重新输入！', 'error');
                return
            }
            changePassword({password}).then(function (res) {
                if (res.code === 200) {
                    toast('修改成功', 'success');
                    setTimeout(function () {
                        window.location.href = '/login';
                    }, 1000);
                }
            });
        });
    </script>
{% endblock body %}
