<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}博客之家{% endblock %}</title>
    <link rel='stylesheet' href='/css/style.css'/>
    <style>
        html {
            background-image: url("/img/loginBG.png");
            background-size: cover;
            background-repeat: no-repeat;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-box {
            width: 440px;
            color: #fff;
            font-size: 16px;

            h1 {
                text-align: center;
                margin-bottom: 80px;
            }

            .l-input-box {
                position: relative;
                margin: 30px;

                .l-icon {
                    position: absolute;
                    left: 5%;
                    top: 50%;
                    transform: translateY(-50%);
                }


                .l-input {
                    width: 100%;
                    height: 50px;
                    border-radius: 30px;
                    background-color: rgba(255, 255, 255, 0.2);
                    border: none;
                    padding-left: 15%;
                    box-sizing: border-box;
                    color: #fff;

                    &::placeholder {
                        color: #fff;
                    }

                }


                .l-button {
                    width: 100%;
                    height: 50px;
                    border-radius: 30px;
                    background-color: #3A62D7;
                    border: none;
                    color: #fff;

                    &:hover {
                        filter: brightness(1.2);
                        cursor: pointer;
                    }
                }
            }
        }
    </style>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
