{% extends 'layout.twig' %}

{% block body %}
    <div class="detail">
        <main class="container">
            <div class="left">
                {% include './article.twig' with {detail} %}
                {% include './comment.twig' with {commentList} %}
                {% include './recommendRelated.twig' with {recommendRelatedList} %}
            </div>
            <aside class="aside">
                {% include './recommendAuthors.twig' with {recommendAuthorsList} %}
                {% include 'chat.twig' with {chatList} %}
                {% include './catalog.twig' with {catalogList} %}
                {% include 'blog.twig' with {blog} %}
            </aside>
        </main>
    </div>
    <style>
        .detail {
            .container {
                margin: 18px 14px;
                display: flex;
                justify-content: space-between;

                .aside {
                    width: 360px;
                }
            }
        }
    </style>
{% endblock %}
